@model Library.Models.Catalog.AssetIndexModel

<div id = "assets"> 
    <h3>Library Catalog</h3>
    <div id ="assetsTable">
        <table class="table table-condensed" id ="catalogIndexTable">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Tittle</th>
                    <th>Author/Director</th>
                    <th>Dewey Call Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asset in Model.Assets)
                {
                    <tr class="assetRow">
                        <td>
                            @*<a asp-controller="Catalog" asp-route-name="SomeName" asp-action="Detail" asp-route="@asset.Id">
                        <img scr="@asset.ImageUrl" class="imageCell" />
                    </a>*@
                            @*<img scr="@Url.Content(@asset.ImageUrl)" class="imageCell" />*@
                            <a href='@Url.Action("Detail","Catalog", new {Id = @asset.Id})'> <img src="@asset.ImageUrl" class="imageCell" name="image" width="150" height="130" /> </a>
                        </td>
                        <td>@asset.Tittle</td>
                        <td>@asset.AuthorOrDirector</td>
                        <td>@asset.DeweyCallNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
